name: Deploy
on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
env:
  tag_name: ${{ github.ref_name }}
jobs:
  checkImageExistsJob:
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    outputs:
      hasImage: ${{ steps.image-status-check.outputs.hasImage }}
    steps:
      - name: Check image status
        id: image-status-check
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          has_image='false'
          IFS=$'\n'
          arr=($(gh api \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/${{ github.repository }}/commits/${{ env.tag_name }}/statuses \
            | jq -c '.[] | [.context, .state]'))
          for row in ${arr[@]}; do
            if [[ $(echo $row | jq -r '.[0]') == "BuildImage" && $(echo $row | jq -r '.[1]') == "success" ]]; then
              has_image='true'
            fi
          done
          echo "hasImage=$has_image" >> $GITHUB_OUTPUT
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          ref: ${{ env.tag_name }}
        if: steps.image-status-check.outputs.hasImage != 'true'
      - name: Output error summary and remove tag
        if: steps.image-status-check.outputs.hasImage != 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "### This commit's image is not ready for deploy" >> $GITHUB_STEP_SUMMARY
          git push --delete origin ${{ env.tag_name }}
          echo "Remove tag ${{ env.tag_name }}" >> $GITHUB_STEP_SUMMARY
          gh run cancel ${{ github.run_id }}
          gh run watch ${{ github.run_id }}
  deployJob:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    concurrency: deploy-${{ inputs.environment }}-group
    needs: checkImageExistsJob
    if: ${{ needs.checkImageExistsJob.outputs.hasImage == 'true' }}
    steps:
      - name: Deploy ${{ inputs.environment }}
        id: deploy-step
        run: |
          echo "success"
