name: Deploy Dev
run-name: "Deploy Dev"
on:
  workflow_dispatch:
jobs:
  deployDevJobs:
    uses: ./.github/workflows/deploy.yaml
    with:
      ENVIRONMENT: Dev
    secrets:
      ARGO_TOKEN: ${{ secrets.ARGO_TOKEN }}
