name: test get tag
run-name: test-runname
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
jobs:
  checkRC:
    runs-on: ubuntu-latest
    outputs:
      isCandidate: ${{ steps.check-rc.outputs.is-candidate }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          fetch-tags: true
      - name: check rc
        id: check-rc
        run: |
          is_rc='false'
          IFS=$'\n'
          tags=($(git tag --points-at ${GITHUB_SHA}))
          for tag in $tags; do
            if [[ $tag == "${GITHUB_REF_NAME}rc."* ]]; then
              is_rc='true'
            fi
          done
          echo ${GITHUB_SHA}
          echo ${GITHUB_REF_NAME}
          echo $(git tag --points-at 2ca3c1f9359ce7617110b6e3e69f9640046fa76f)
          git tag --points-at ${GITHUB_SHA}
          echo $tags
          echo $tags[0]
          echo $tags[1]
          echo $is_rc
          echo "is-candidate=$is_rc" >> "$GITHUB_OUTPUT"
  deployProd:
    runs-on: ubuntu-latest
    needs: checkRC
    if: needs.checkRC.outputs.isCandidate == 'true'
    steps:
      - name: deploy prod
        id: deploy-prod
        run: |
          echo "success"
  notDeployProd:
    runs-on: ubuntu-latest
    needs: checkRC
    if: needs.checkRC.outputs.isCandidate == 'false'
    steps:
      - name: deploy prod
        id: deploy-prod
        run: |
          echo "failed"
