name: Deploy Prod
run-name: "Deploy Prod: ${{ github.ref_name }}"
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:
jobs:
  # TODO without rc
  deployProdJobs:
    uses: ./.github/workflows/deploy.yaml
    with:
      environment: prod
