name: test get tag
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
jobs:
  t:
    name: test-actions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3
      - name: check rc
        id: check-rc
        run: |
          is-rc=false
          IFS=$'\n'
          tags=($(git tag --points-at ${GITHUB_SHA}))
          for tag in $tags; do
            if [[ $tag == "${GITHUB_REF_NAME}rc."* ]]; then
              is-rc=true
            fi
          done
          echo "is-candidate=$is-rc" >> "$GITHUB_OUTPUT"
      - name: deploy prod
        id: deploy-prod
        if: steps.check-rc.outputs.is-candidate
        run: |
          echo "success"
