name: Deploy Prod
run-name: "Deploy Prod: ${{ github.ref_name }}"
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
jobs:
  checkImageExistsJob:
    runs-on: ubuntu-latest
    outputs:
      buildImageStatus: ${{ steps.image-status-check.outputs.status }}
    steps:
      - name: Check image status
        id: image-status-check
        uses: "WyriHaximus/github-action-wait-for-status@v1"
        with:
          ignoreActions: "BuildImage"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      - name: Output error summary
        if: steps.image-status-check.outputs.status != 'success'
        run: |
          echo "### This commit's image is not ready for deploy" >> $GITHUB_STEP_SUMMARY
          gh run cancel ${{ github.run_id }}
          gh run watch ${{ github.run_id }}
  checkReleaseCandidateJob:
    runs-on: ubuntu-latest
    needs: checkImageExistsJob
    if: needs.checkImageExistsJob.outputs.status == 'success'
    outputs:
      isCandidate: ${{ steps.check-rc.outputs.isCandidate }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Fetch tags
        run: git fetch origin tag ${{ github.ref_name }}*
      - name: Check release candidate
        id: check-rc
        run: |
          is_rc='false'
          IFS=$'\n'
          tags=($(git tag --points-at ${GITHUB_SHA}))
          for tag in ${tags[@]}; do
            if [[ $tag == "${GITHUB_REF_NAME}-rc."* ]]; then
              is_rc='true'
            fi
          done
          echo "isCandidate=$is_rc" >> "$GITHUB_OUTPUT"
      - name: Remvoe tag
        if: steps.check-rc.outputs.isCandidate == 'false'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "### This commit is not release candidate" >> $GITHUB_STEP_SUMMARY
          git push --delete origin ${{ github.ref_name }}
          echo "Remove tag ${GITHUB_REF_NAME}" >> $GITHUB_STEP_SUMMARY
          gh run cancel ${{ github.run_id }}
          gh run watch ${{ github.run_id }}
  deployProdJob:
    runs-on: ubuntu-latest
    concurrency: deploy-prod-group
    needs: checkReleaseCandidateJob
    if: needs.checkReleaseCandidateJob.outputs.isCandidate == 'true'
    steps:
      - uses: actions/checkout@v1
      - name: Create Github deployment
        uses: chrnorm/deployment-action@v2
        id: create-deployment
        with:
          token: '${{ github.token }}'
          environment: 'prod'
          auto-merge: false
          ref: ${{ github.ref_name }}
          required-contexts: 'checkReleaseCandidateJob'
      - name: Update deployment progress
        if: failure()
        uses: chrnorm/deployment-status@v2
        with:
          token: '${{ github.token }}'
          deployment-id: ${{ steps.create-deployment.outputs.deployment_id }}
          log-url: "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          state: 'in_progress'
      - name: Deploy prod
        id: deploy-prod
        run: |
          echo "success"
      - name: Update deployment success
        if: success()
        uses: chrnorm/deployment-status@v2
        with:
          token: '${{ github.token }}'
          deployment-id: ${{ steps.create-deployment.outputs.deployment_id }}
          log-url: "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          state: 'success'
      - name: Update deployment failure
        if: failure()
        uses: chrnorm/deployment-status@v2
        with:
          token: '${{ github.token }}'
          deployment-id: ${{ steps.create-deployment.outputs.deployment_id }}
          log-url: "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          state: 'failure'
