name: merge pr
on:
  push:
    branches:
      - main
jobs:
  showParentCommitJob:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: getParentCommit
        id: get-commit
        run: |
          echo ${{ github.sha }}
          (git rev-parse ${{ github.sha }}^
          echo "parentCommit=$(git rev-parse ${{ github.sha }}^)" >> $GITHUB_OUTPUT
      - name: echo commit
        run: |
          echo ${{ steps.get-commit.outputs.parentCommit }}

