name: merge pr
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - closed
jobs:
  showParentCommitJob:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: getParentCommit
        run: |
          echo ${{ github.sha }}
          git rev-parse ${{ github.sha }}^
