name: Deploy Pre-Prod
run-name: "Deploy Pre-Prod: ${{ github.ref_name }}"
on:
  push:
    tags:
      - 'hotfix-[0-9]+-rc.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-rc.[0-9]+'
  workflow_dispatch:
jobs:
  deployPreProdJobs:
    uses: ./.github/workflows/deploy.yaml
    if: ${{ startsWith(github.ref, 'refs/tags/') && contains(github.ref_name, 'rc') }}
    with:
      ENVIRONMENT: pre-prod
